
    <div class="form-input">
        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email" />
        <p class="errorMessage"></p>
    </div>
    <div class="form-input">
        <label for="Password">Mật khẩu</label>
        <input type="password" name="Password" id="Password" />
        <p class="errorMessage"></p>
    </div>
    <div class="form-input">
        <input type="submit" name="logInBtn" class="submit" value="Đăng nhập" />
    </div>

<p style="text-align: center;">Chưa có tài khoản? <a onclick="renderForm('signup')" class="link"><ion-icon name="person-add-outline"></ion-icon> Đăng ký</a></p>

