
    <div class="form-input">
        <label for="Username">Tên tài khoản</label>
        <input name="Username" id="Username" type="text" />
        <p class="errorMessage"></p>
    </div>
    <div class="form-input">
        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email" />
        <p class="errorMessage"></p>
    </div>
    <div class="form-input">
        <label for="Password">Mật khẩu</label>
        <input type="password" name="Password" id="Password" />
        <p class="errorMessage"></p>
    </div>
    <div class="form-input">
        <label for="confirmPassword">Xác nhận mật khẩu</label>
        <input type="password" name="confirmPassword" id="confirmPassword" />
        <p class="errorMessage"></p>
    </div>
    <div class="form-input">
        <input type="submit" name="signUpBtn" class="submit" value="Đăng ký" />
    </div>
<p style="text-align: center;">Bạn đã có tài khoản? <a onclick="renderForm('login')" class="link"> <ion-icon name="log-in-outline"></ion-icon> Đăng nhập</a></p>