.body {
    width: 70%;
    display: flex;
    background: #fff;
    box-shadow: 0px 9px 10px #838383;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: var(--p-color);
    font-size: 1rem;
}

.info-left {
    flex: 30%;
    display: flex;
    flex-direction: column;
}

.info-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem;
}

    .info-header img {
        max-height: 70px;
    }

.border-bottom {
    position: relative;
}

    .border-bottom::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 90%;
        transform: translateX(-50%);
        height: 1px;
        background-color: #c7c7c7;
    }

.tabs {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

    .tabs .tab-item {
        cursor: pointer;
        padding: 1rem;
        position: relative;
    }

        .tabs .tab-item::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 90%;
            transform: translateX(-50%);
            height: 1px;
            background-color: #c7c7c7;
        }

        .tabs .tab-item:hover {
            background-color: aliceblue;
            font-weight: 600;
        }

        .tabs .tab-item.chosen {
            background-color: var(--p-color);
            color: #fff;
            font-weight: 600;
        }

.info-right {
    flex: 70%;
    color: var(--p-color);
    margin: 0 0 0 1rem;
    font-size: 1.1rem;
}

.content-item {
    width: 100%;
    padding: 0.825rem;
}

    .content-item form,
    .form-group {
        width: 100%;
    }

        .form-group label {
            font-weight: 600;
            display: block;
            margin: 0.6rem 0;
        }

        .form-group input {
            padding: 0.825rem;
            border: 1px solid #c2c2c2;
            outline: none;
            border-radius: 5px;
            font-weight: 500;
            font-size: 1rem;
            width: 100%;
        }

        .form-group button {
            color: #fff;
            background-color: var(--p-color);
            font-weight: 600;
            border: none;
            outline: none;
            padding: 0.825rem;
            cursor: pointer;
            margin-top: 0.825rem;
            font-size: 1rem;
            border-radius: 5px;
        }

        .form-group input:focus {
            outline: 1px solid var(--p-color);
        }

        .form-group input:read-only {
            background-color: #fcfcfc;
        }

.form-group-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: 1rem;
}

.order {
    width: 100%;
    font-size: 1.1rem;
    color: var(--p-color);
    box-shadow: 0px 0px 5px #cfcfcf;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.order-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0;
}

    .order-row button {
        background-color: var(--p-color);
        color: #fff;
        font-weight: 500;
        border: none;
        padding: 0.5rem 1rem;
        outline: none;
        font-size: 1rem;
        cursor: pointer;
    }

.order-detail-row {
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.order-detail-image img {
    max-height: 100px;
}

.order-detail-row:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: #cfcfcf;
}
