@model MyLaptopWebsite.Models.NhaSanXuat

@{
    ViewData["Title"] = "Create";
}

<h1 class="bg-success text-white">Thêm nhà sản xuất</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="text-info fw-bold">Mã nhà sản xuất sẽ được tự động tạo!</p>
            <div class="form-group">
                <label asp-for="TenNsx" class="control-label"></label>
                <input asp-for="TenNsx" class="form-control" />
                <span asp-validation-for="TenNsx" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label for="logo" class="control-label"></label>
                <input name="logo" id="logo" type="file" class="form-control" accept="image/*" onchange="displayImages(this, '#renderImg')" />
                <div id="renderImg" class="mt-3">
                    <p>Hình ảnh bạn vừa chọn</p>
                </div>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Tạo nhà sản xuất" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Trở lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
