@model MyLaptopWebsite.Models.DipGiamGia

@{
    ViewData["Title"] = "Update";
}

<h1>Chỉnh sửa thông tin dịp giảm giá</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="text-warning fw-bold">Bạn không thể sửa mã dịp giảm giá!</p>
            <div class="form-group">
                <label asp-for="MaDipGiamGia" class="control-label"></label>
                <input asp-for="MaDipGiamGia" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="TenDipGiamGia" class="control-label"></label>
                <input asp-for="TenDipGiamGia" class="form-control" />
                <span asp-validation-for="TenDipGiamGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBatDau" class="control-label"></label>
                <input asp-for="NgayBatDau" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayHetHan" class="control-label"></label>
                <input asp-for="NgayHetHan" class="form-control" />
                <span asp-validation-for="NgayHetHan" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Huỷ thao tác</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
